Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

:dizzy: Updated translation file
  refarch-frontend/src/locales/de.yaml
  refarch-frontend/src/views/GetStartedView.vue
Labels: Template: Frontend

:memo: Updated VueI18n configuration
  refarch-frontend/eslint.config.js
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

added some example descriptions and summaries
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityController.java
Labels: Template: Backend

:see_no_evil: ignore top-level api folder
  .gitignore
Labels: none

changed naming to include project name and moved output dir to global api folder
  refarch-backend/pom.xml
Labels: Template: Backend

:rotating_light: spotless formated
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityController.java
Labels: Template: Backend

:recycle: Refactored YAML file to JSON
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/locales/de.yaml
Labels: Template: Frontend

:wrench: Changed Vite and ESLint config to only scan for json based locales
  refarch-frontend/eslint.config.js
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

:wrench: Configured i18n integration for Vuetify
  refarch-frontend/src/plugins/i18n.ts
  refarch-frontend/src/plugins/index.ts
  refarch-frontend/src/plugins/vuetify.ts
Labels: Template: Frontend

:fire: Removed README file (will be moved to docs)
  refarch-frontend/src/locales/README.md
Labels: Template: Frontend

:rotating_light: Fix lint
  refarch-frontend/src/App.vue
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/plugins/i18n.ts
  refarch-frontend/src/plugins/vuetify.ts
Labels: Template: Frontend

applied suggestions - moved dependency version to the top and removed default option
  refarch-backend/pom.xml
Labels: Template: Backend

:heavy_plus_sign: added frontend open-api-generator
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
Labels: Template: Frontend

:arrow_up: frontend open-api-generator
  refarch-frontend/package.json
Labels: Template: Frontend

:wrench: added openapi-config for refarch-backend
  refarch-frontend/openapitools.json
Labels: Template: Frontend

:alien: generated first api-version
  refarch-frontend/src/api/refarch_backend-spec/.openapi-generator-ignore
  refarch-frontend/src/api/refarch_backend-spec/.openapi-generator/FILES
  refarch-frontend/src/api/refarch_backend-spec/.openapi-generator/VERSION
  refarch-frontend/src/api/refarch_backend-spec/apis/TheEntityExampleTagApi.ts
  refarch-frontend/src/api/refarch_backend-spec/apis/index.ts
  refarch-frontend/src/api/refarch_backend-spec/index.ts
  refarch-frontend/src/api/refarch_backend-spec/models/PageMetadata.ts
  refarch-frontend/src/api/refarch_backend-spec/models/PagedModelTheEntityResponseDTO.ts
  refarch-frontend/src/api/refarch_backend-spec/models/TheEntityRequestDTO.ts
  refarch-frontend/src/api/refarch_backend-spec/models/TheEntityResponseDTO.ts
  refarch-frontend/src/api/refarch_backend-spec/models/index.ts
  refarch-frontend/src/api/refarch_backend-spec/runtime.ts
Labels: Template: Frontend

added bean configuration for openapi-spec
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIDocumentationConfig.java
Labels: Template: Backend

:wrench: introduced properties class for app-information
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIDocumentationConfig.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIProperties.java
Labels: Template: Backend

:wrench: disabled api-docs endpoint on default and hard-coded openapi-version
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

:arrow_up: updated open-api-plugin
  refarch-backend/pom.xml
Labels: Template: Backend

:truck: moved generated openapi-specs to subfolder
  refarch-backend/pom.xml
Labels: Template: Backend

:bug: fixed openapi config
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIDocumentationConfig.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIProperties.java
Labels: Template: Backend

:wrench: changed paths to actuator paths
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

:heavy_plus_sign: added plugin and dependency for openapi-docs from java-doc. Corrected path of generator
  refarch-backend/pom.xml
Labels: Template: Backend

switched to java docs
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityController.java
Labels: Template: Backend

remove docker kubernetes 4 podman compat
  stack/docker-compose.yml
Labels: none

fix local spring profile
  refarch-backend/src/main/resources/application-local.yml
Labels: Template: Backend

remove docker kubernetes 4 podman compat (#1053)
  refarch-backend/src/main/resources/application-local.yml
  stack/docker-compose.yml
Labels: Template: Backend

:heavy_plus_sign: Moved unplugin i18n dependency to devDependencies
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
Labels: Template: Frontend

Feature: Add vue-i18n to centralize definition of text (#116) (#673)
  refarch-frontend/eslint.config.js
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/common/YesNoDialog.vue
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/plugins/i18n.ts
  refarch-frontend/src/plugins/index.ts
  refarch-frontend/src/plugins/vuetify.ts
  refarch-frontend/src/views/GetStartedView.vue
  refarch-frontend/src/views/HomeView.vue
  refarch-frontend/tests/unit/example.spec.ts
  refarch-frontend/tsconfig.app.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

create trviy config
  .github/workflows/trivy
Labels: none

Rename trivy to trivy.yml
  .github/workflows/trivy.yml
Labels: none

Update trivy.yml
  .github/workflows/trivy.yml
Labels: none

Update Dockerfile
  refarch-frontend/Dockerfile
Labels: Template: Frontend

Update Dockerfile
  refarch-webcomponent/Dockerfile
Labels: Template: Webcomponent

fix(backend,eai): spring properties metadata generation
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

:pushpin: Updated base image and added Docker health check
  refarch-frontend/Dockerfile
  refarch-webcomponent/Dockerfile
Labels: Template: Frontend, Template: Webcomponent

:wrench: Aligned health check configuration in Dockerfiles for Java-based services
  refarch-backend/Dockerfile
  refarch-eai/Dockerfile
Labels: Template: Backend, Template: EAI

:stethoscope: Remove health check in Docker images for now
  refarch-backend/Dockerfile
  refarch-eai/Dockerfile
  refarch-frontend/Dockerfile
  refarch-webcomponent/Dockerfile
Labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

:rotating_light: Removed newline
  refarch-frontend/Dockerfile
  refarch-webcomponent/Dockerfile
Labels: Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']
