Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

:wrench: Updated deprecation detection and failing build
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

:rotating_light: Fix unmapped property warning in mapper
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/dto/TheEntityMapper.java
Labels: Template: Backend

:rotating_light: Spotless
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/dto/TheEntityMapper.java
Labels: Template: Backend

:bug: Fix warning "The following options were not recognized by any processor: '[mapstruct.defaultComponentModel]'"
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

🎨 Fix indentation
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

🎨 Fix xml indentations
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

:recycle: Refactored compiler plugin configuration
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

:wrench: Set failOnWarning false by default
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

🔧 Updated deprecation detection (#1004)
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/dto/TheEntityMapper.java
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

Update maven-release.yml
  .github/workflows/maven-release.yml
Labels: none

Update .github/workflows/maven-release.yml
  .github/workflows/maven-release.yml
Labels: none

Update .github/workflows/maven-release.yml
  .github/workflows/maven-release.yml
Labels: none

Update .github/workflows/maven-release.yml
  .github/workflows/maven-release.yml
Labels: none

Update maven-release.yml (#1012)
  .github/workflows/maven-release.yml
Labels: none

fix(backend,eai): mockito agent warning
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

fix(backend,eai): test OpenJFK share warning
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

fix(backend,eai): test mockito agent and OpenJFK share warnings (#1016)
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

use the native image of appswitcher-server for the stack
  stack/docker-compose.yml
Labels: none

:sparkles: Added CycloneDX SBOM configuration
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/resources/application.yml
  refarch-eai/pom.xml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI

:bulb: Changed comment in pom
  refarch-eai/pom.xml
Labels: Template: EAI

:recycle: Applied CodeRabbit suggestions
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/resources/application.yml
  refarch-eai/pom.xml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI

:heavy_plus_sign: Added CycloneDX npm dependency
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
Labels: Template: Frontend

:wrench: Added post-build script to generate SBOM
  refarch-frontend/package.json
Labels: Template: Frontend

:wrench: Added nginx configuration to mimic actuator SBOM endpoint from Spring
  refarch-frontend/docker/nginx/sbom.conf
Labels: Template: Frontend

:wrench: Added SBOM configurations for webcomponent
  refarch-webcomponent/docker/nginx/sbom.conf
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent

:sparkles: Added CycloneDX SBOM configuration (#1027)
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/resources/application.yml
  refarch-eai/pom.xml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI

Feature: Add SBOM generation to Node projects (#1028)
  refarch-frontend/docker/nginx/sbom.conf
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/docker/nginx/sbom.conf
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:green_heart: added permission to create labels
  .github/workflows/pr-labeler.yml
Labels: none

:memo: added comment to permission
  .github/workflows/pr-labeler.yml
Labels: none

:bug: added permission to create labels (#1030)
  .github/workflows/pr-labeler.yml
Labels: none

:heavy_plus_sign: springdoc with swagger-ui
  refarch-backend/pom.xml
Labels: Template: Backend

disabled swagger-ui per default, enabled for local development
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

:heavy_plus_sign: sprindoc-openapi-plugin to generate specs locally
  refarch-backend/pom.xml
Labels: Template: Backend

:sparkles: Added missing deleteConfig to fetchUtils
  refarch-frontend/src/api/fetch-utils.ts
Labels: Template: Frontend

:sparkles: Added missing deleteConfig to fetchUtils (#1031)
  refarch-frontend/src/api/fetch-utils.ts
Labels: Template: Frontend

:recycle: Aligned SBOM configuration and metadata order in pom.xml
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

:recycle: Aligned SBOM configuration and metadata order in pom.xml (#1034)
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

adjusted settings for spring-doc generator
  refarch-backend/pom.xml
Labels: Template: Backend

:heavy_plus_sign: Regenerated lockfile
  refarch-frontend/package-lock.json
Labels: Template: Frontend

:wrench: Updated message syntax version
  refarch-frontend/eslint.config.js
Labels: Template: Frontend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']
