Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']

always upload artifact
  .github/workflows/trivy.yml
Labels: none

removed entry
  .trivyignore
Labels: none

feat(CMS): setting things up for our CMS and creating an admin dashboard route
  refarch-backend/src/main/java/de/muenchen/refarch/admin/AdminController.java
  refarch-frontend/src/App.vue
  refarch-frontend/src/api/admin-client.ts
  refarch-frontend/src/components/admin/AdminHeader.vue
  refarch-frontend/src/composables/useRoleCheck.ts
  refarch-frontend/src/constants.ts
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/types/User.ts
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Backend, Template: Frontend

feat(CMS): setting things up for our CMS and creating an admin dashboard route
  refarch-backend/src/main/java/de/muenchen/refarch/admin/AdminController.java
  refarch-frontend/src/App.vue
  refarch-frontend/src/api/admin-client.ts
  refarch-frontend/src/components/admin/AdminHeader.vue
  refarch-frontend/src/composables/useRoleCheck.ts
  refarch-frontend/src/constants.ts
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/types/User.ts
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Backend, Template: Frontend

fix(CMS): format code with Prettier and remove unused import
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/admin/AdminHeader.vue
  refarch-frontend/src/composables/useRoleCheck.ts
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

fix(CMS): remove unused userStore variable
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

fix(CMS): remove unnecessary @RequiredArgsConstructor annotation
  refarch-backend/src/main/java/de/muenchen/refarch/admin/AdminController.java
Labels: Template: Backend

fix(CMS): use i18n for Admin Dashboard text
  refarch-frontend/src/locales/de.json
Labels: Template: Frontend

fix(CMS): use i18n for Admin Dashboard text in App.vue
  refarch-frontend/src/App.vue
Labels: Template: Frontend

fix(CMS): use ROUTES_ADMIN constant instead of hardcoded path
  refarch-frontend/src/components/admin/AdminHeader.vue
Labels: Template: Frontend

fix(CMS): add error handling for JSON parsing in admin client
  refarch-frontend/src/api/admin-client.ts
Labels: Template: Frontend

fix(CMS): add error handling for JSON parsing in admin client
  refarch-frontend/src/api/admin-client.ts
Labels: Template: Frontend

fix(CMS): correct ApiError constructor usage
  refarch-frontend/src/api/admin-client.ts
Labels: Template: Frontend

fix(CMS): remove unused error variable
  refarch-frontend/src/api/admin-client.ts
Labels: Template: Frontend

fix(CMS): make hasRole return computed ref for reactivity consistency
  refarch-frontend/src/composables/useRoleCheck.ts
Labels: Template: Frontend

fix(CMS): wait for user data in router guard before allowing admin navigation
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

fix(CMS): use useRoleCheck composable instead of duplicating role-checking logic
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend

fix(CMS): format useRoleCheck.ts with Prettier
  refarch-frontend/src/composables/useRoleCheck.ts
Labels: Template: Frontend

fix(CMS): remove unused User import
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend

fix(CMS): use i18n for hardcoded text in AdminHeader
  refarch-frontend/src/components/admin/AdminHeader.vue
  refarch-frontend/src/locales/de.json
Labels: Template: Frontend

fix(CMS): use route name instead of path matching for admin route check
  refarch-frontend/src/App.vue
Labels: Template: Frontend

fix(CMS): remove redundant role check and add user feedback for API errors
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

feat(CMS): add loading state to admin dashboard
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

fix(CMS): use absolute path for admin status endpoint to avoid route-dependent 404s
  refarch-frontend/src/api/admin-client.ts
Labels: Template: Frontend

fix(CMS): format AdminDashboardView.vue with Prettier
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

refactor(CMS): return boolean from admin status API and use i18n for message
  refarch-backend/src/main/java/de/muenchen/refarch/admin/AdminController.java
  refarch-frontend/src/api/admin-client.ts
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Backend, Template: Frontend

fix(CMS): update AdminDashboardView to use boolean response
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

fix(CMS): return JSON response from admin status API
  refarch-backend/src/main/java/de/muenchen/refarch/admin/AdminController.java
  refarch-frontend/src/api/admin-client.ts
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Backend, Template: Frontend

CMS: Fix i18n issues in admin dashboard
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

fix(CMS): hide user button when user is not loaded
  refarch-frontend/src/components/admin/AdminHeader.vue
Labels: Template: Frontend

refactor(CMS): extract AdminStatusResponse to separate DTO file
  refarch-backend/src/main/java/de/muenchen/refarch/admin/AdminController.java
  refarch-backend/src/main/java/de/muenchen/refarch/admin/dto/AdminStatusResponse.java
Labels: Template: Backend

feat(CMS): add admin settings and theme pages with navigation
  refarch-backend/runLocal.sh
  refarch-backend/src/main/resources/application-local.yml
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/admin/AdminHeader.vue
  refarch-frontend/src/constants.ts
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/views/admin/AdminDashboardView.vue
  refarch-frontend/src/views/admin/AdminSettingsView.vue
  refarch-frontend/src/views/admin/AdminThemeView.vue
  stack/docker-compose.yml
Labels: Template: Backend, Template: Frontend

refactor(CMS): remove redundant @ResponseStatus annotation
  refarch-backend/src/main/java/de/muenchen/refarch/admin/AdminController.java
Labels: Template: Backend

fix(CMS): redirect unauthenticated users from admin routes to home
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend

removed unused file
  stack/openapitools.json
Labels: none

updated version / options and regenerated code
  refarch-frontend/openapitools.json
  refarch-frontend/src/api/refarch-backend/.openapi-generator/FILES
  refarch-frontend/src/api/refarch-backend/.openapi-generator/VERSION
  refarch-frontend/src/api/refarch-backend/apis/ActuatorApi.ts
  refarch-frontend/src/api/refarch-backend/apis/TheEntityControllerApi.ts
  refarch-webcomponent/openapitools.json
  refarch-webcomponent/src/api/refarch-backend/.openapi-generator/FILES
  refarch-webcomponent/src/api/refarch-backend/.openapi-generator/VERSION
  refarch-webcomponent/src/api/refarch-backend/apis/ActuatorApi.ts
  refarch-webcomponent/src/api/refarch-backend/apis/TheEntityControllerApi.ts
Labels: Template: Frontend, Template: Webcomponent

sorted packages alphabetically
  refarch-frontend/package.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

refactor(CMS): centralize User mapping via User.fromJson
  refarch-frontend/src/api/user-client.ts
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/types/User.ts
Labels: Template: Frontend

fix(CMS): handle denied admin access status
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

refactor(CMS): replace inline styles with scoped classes
  refarch-frontend/src/views/admin/AdminSettingsView.vue
  refarch-frontend/src/views/admin/AdminThemeView.vue
Labels: Template: Frontend
