Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

:wrench: Bump minimal Node version to 22.19
  docs/package-lock.json
  docs/package.json
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:wrench: Bump minimal Node version to 22.19 (#1259)
  docs/package-lock.json
  docs/package.json
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

chore(stack): use quay.io for keycloak
  stack/docker-compose.yml
Labels: none

chore(stack): use quay.io for keycloak (#1270)
  stack/docker-compose.yml
Labels: none

:arrow_up: Upgrade patternalab asset references to new version
  refarch-webcomponent/index.html
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/src/refarch-hello-world-webcomponent.ce.vue
Labels: Template: Webcomponent

:rotating_light: Fix lint
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
Labels: Template: Backend

:bug: Remove suppression annotation
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
Labels: Template: Backend

:rotating_light: Fix lint
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
Labels: Template: Backend

:bug: Fixed encoding
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
Labels: Template: Backend

:wrench: Remove validation from SBOM generation
  refarch-frontend/package.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:wrench: Remove validation from SBOM generation (#1273)
  refarch-frontend/package.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

chore(docs): add VitePress base path for GitHub pages
  docs/.vitepress/config.mts
Labels: none

chore(docs): clarify base path comment for subpath deployments
  docs/.vitepress/config.mts
Labels: none

chore(docs): add VitePress base path for GitHub pages (#1312)
  docs/.vitepress/config.mts
Labels: none

chore: implement review feedback
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
Labels: Template: Backend

feat(backend): make permissions cache timeout configurable
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
Labels: Template: Backend

chore(backend): implement review feedback
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
Labels: Template: Backend

Added switch to enable/disable test execution for Testcontainers tests
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityIntegrationTest.java
Labels: Template: Backend

Update Node.js version range in package.json
  refarch-frontend/package.json
Labels: Template: Frontend

Update package-lock.json
  refarch-frontend/package-lock.json
Labels: Template: Frontend

Update Node.js version range in package.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent

Update package.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent

Update Node.js engine version range in package-lock
  refarch-webcomponent/package-lock.json
Labels: Template: Webcomponent

Update Node.js version range in package.json
  docs/package.json
Labels: none

Update Node.js engine version range in package-lock.json
  docs/package-lock.json
Labels: none

ci: use pr for maven and npm release
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

ci: use permissions
  .github/workflows/actionlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

updated openapi version
  refarch-frontend/package.json
Labels: Template: Frontend

updated openapi configuration - placeholder do not work inside the "glob" field
  refarch-frontend/openapitools.json
Labels: Template: Frontend

regenerated openapi client with newer configuration
  refarch-frontend/src/api/refarch-backend/.openapi-generator-ignore
  refarch-frontend/src/api/refarch-backend/.openapi-generator/FILES
  refarch-frontend/src/api/refarch-backend/.openapi-generator/VERSION
  refarch-frontend/src/api/refarch-backend/apis/ActuatorApi.ts
  refarch-frontend/src/api/refarch-backend/apis/TheEntityControllerApi.ts
  refarch-frontend/src/api/refarch-backend/apis/index.ts
  refarch-frontend/src/api/refarch-backend/index.ts
  refarch-frontend/src/api/refarch-backend/models/Link.ts
  refarch-frontend/src/api/refarch-backend/models/PageMetadata.ts
  refarch-frontend/src/api/refarch-backend/models/PagedModelTheEntityResponseDTO.ts
  refarch-frontend/src/api/refarch-backend/models/TheEntityRequestDTO.ts
  refarch-frontend/src/api/refarch-backend/models/TheEntityResponseDTO.ts
  refarch-frontend/src/api/refarch-backend/models/index.ts
  refarch-frontend/src/api/refarch-backend/runtime.ts
  refarch-frontend/src/api/refarch_backend-spec/apis/index.ts
  stack/openapitools.json
Labels: Template: Frontend

:see_no_evil: included generated api-folders in the prettierignore
  refarch-frontend/.prettierignore
Labels: Template: Frontend

repeated steps with webcomponent module
  refarch-webcomponent/.prettierignore
  refarch-webcomponent/openapitools.json
  refarch-webcomponent/package.json
  refarch-webcomponent/src/api/refarch-backend/.openapi-generator-ignore
  refarch-webcomponent/src/api/refarch-backend/.openapi-generator/FILES
  refarch-webcomponent/src/api/refarch-backend/.openapi-generator/VERSION
  refarch-webcomponent/src/api/refarch-backend/apis/ActuatorApi.ts
  refarch-webcomponent/src/api/refarch-backend/apis/TheEntityControllerApi.ts
  refarch-webcomponent/src/api/refarch-backend/apis/index.ts
  refarch-webcomponent/src/api/refarch-backend/index.ts
  refarch-webcomponent/src/api/refarch-backend/models/Link.ts
  refarch-webcomponent/src/api/refarch-backend/models/PageMetadata.ts
  refarch-webcomponent/src/api/refarch-backend/models/PagedModelTheEntityResponseDTO.ts
  refarch-webcomponent/src/api/refarch-backend/models/TheEntityRequestDTO.ts
  refarch-webcomponent/src/api/refarch-backend/models/TheEntityResponseDTO.ts
  refarch-webcomponent/src/api/refarch-backend/models/index.ts
  refarch-webcomponent/src/api/refarch-backend/runtime.ts
Labels: Template: Webcomponent

updated lock-files
  refarch-frontend/package-lock.json
  refarch-webcomponent/package-lock.json
Labels: Template: Frontend, Template: Webcomponent

:see_no_evil: added generated folders to eslint-ignore
  refarch-frontend/eslint.config.js
  refarch-webcomponent/eslint.config.js
Labels: Template: Frontend, Template: Webcomponent

added file output
  .github/workflows/trivy.yml
Labels: none

changed file format to txt
  .github/workflows/trivy.yml
Labels: none

added trivyignore
  .github/workflows/trivy.yml
Labels: none

changed exit code
  .github/workflows/trivy.yml
Labels: none

changed exit code
  .github/workflows/trivy.yml
Labels: none

changed exit code
  .github/workflows/trivy.yml
Labels: none

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']
