Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

pipline shoudl fail
  .github/workflows/trivy.yml
Labels: none

trivyignore hinzugefügt
  .github/.trivyignore
  .github/workflows/trivy.yml
Labels: none

moved ignore file
  .github/workflows/.trivyignore
  .github/workflows/trivy.yml
Labels: none

moved ignore file
  .github/.trivyignore
  .github/workflows/trivy.yml
Labels: none

:rotating_light: Fix lint
  refarch-frontend/src/util/formatter.ts
Labels: Template: Frontend

:arrow_up: Regenerated lockfile due to dependency conflicts
  refarch-frontend/package-lock.json
  refarch-webcomponent/package-lock.json
Labels: Template: Frontend, Template: Webcomponent

:arrow_up: Regenerated lockfile due to dependency conflicts
  refarch-frontend/package-lock.json
Labels: Template: Frontend

:arrow_up: Regenerated lockfile due to dependency conflicts
  refarch-frontend/package-lock.json
Labels: Template: Frontend

:arrow_up: Manual upgrade to Vuetify 3.10.0
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
Labels: Template: Frontend

:arrow_up: Manual upgrade to Vuetify 3.10.0 (#1200)
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
Labels: Template: Frontend

:fire: Remove custom logback configuration
  refarch-eai/src/main/resources/logback-spring.xml
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
Labels: Template: EAI

:arrow_up: Upgraded to Camel 4.14 and Spring 3.5.4
  refarch-eai/pom.xml
Labels: Template: EAI

:wrench: Updated banner and logging configuration
  refarch-eai/src/main/resources/application-local.yml
  refarch-eai/src/main/resources/application.yml
  refarch-eai/src/test/resources/application-test.yml
Labels: Template: EAI

Maintenance: Upgrade to Camel 4.14.0 (#1201)
  refarch-eai/pom.xml
  refarch-eai/src/main/resources/application-local.yml
  refarch-eai/src/main/resources/application.yml
  refarch-eai/src/main/resources/logback-spring.xml
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
  refarch-eai/src/test/resources/application-test.yml
Labels: Template: EAI

added archunit and fixed tests
  refarch-backend/pom.xml
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/MethodRules.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/TestClassesEndWithTestCondition.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverterTest.java
Labels: Template: Backend

spotless
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/MethodRules.java
Labels: Template: Backend

code rabbit review
  refarch-backend/pom.xml
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/MethodRules.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/TestClassesEndWithTestCondition.java
Labels: Template: Backend

code rabbit review
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/MethodRules.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/TestClassesEndWithTestCondition.java
Labels: Template: Backend

added test directory to pmd ignore
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

removed
  .github/workflows/pr-checklist.yml
Labels: none

moved trivyignore
  .github/workflows/trivy.yml
  .trivyignore
Labels: none

moved trivyignore
  .github/workflows/trivy.yml
Labels: none

moved trivyignore
  .github/workflows/trivy.yml
Labels: none

Remove-Pr-Checklist-action (#1209)
  .github/workflows/pr-checklist.yml
Labels: none

1207-feature-change-pmd-to-only-report-errors-for-production-code (#1208)
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

changed format to json
  .github/workflows/trivy.yml
Labels: none

renaming
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
Labels: Template: Backend

Update actionlint.yml
  .github/workflows/actionlint.yml
Labels: none

fix bug
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
  .github/workflows/pr-labeler.yml
Labels: none

:wrench: Updated spotless configuration
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

fix(stack): rm permissions mapper
  stack/keycloak/migration/permissions/P01_init_permissions.yml
Labels: none

:pushpin: Updated lockfiles
  refarch-frontend/package-lock.json
  refarch-webcomponent/package-lock.json
Labels: Template: Frontend, Template: Webcomponent

:wrench: Added concurrency configuration for running ESLint
  refarch-frontend/package.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:memo: Added comments to nginx configuration files
  refarch-frontend/docker/nginx/health.conf
  refarch-frontend/docker/nginx/sbom.conf
Labels: Template: Frontend

:wrench: Add nginx configuration to support history mode of Vue
  refarch-frontend/docker/nginx/history_routing.conf
Labels: Template: Frontend

:wrench: Enable history mode based routing by default
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend

Feature: Support and enable Vue HTML5 history mode (#1248)
  refarch-frontend/docker/nginx/health.conf
  refarch-frontend/docker/nginx/history_routing.conf
  refarch-frontend/docker/nginx/sbom.conf
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend

:wrench: Disabled Spring OSIV by default
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

:wrench: Disabled Spring OSIV by default (#1249)
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

coderabbit review eingearbeitet
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
Labels: Template: Backend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']
