Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

docs(stack/init-keycloak): update readme
  stack/README.md
Labels: none

chore(stack): copy modules
  stack/keycloak/terraform/modules/keycloak-user/main.tf
  stack/keycloak/terraform/modules/keycloak-user/variables.tf
  stack/keycloak/terraform/modules/realm-scopes/main.tf
  stack/keycloak/terraform/modules/realm-scopes/variables.tf
Labels: none

docs(stack): add README and inline comments
  stack/README.md
Labels: none

refact(stack): realm-scopes single realm_id input
  stack/keycloak/terraform/lhm-demo-simple.tf
Labels: none

fix(stack/init-keycloak): local client missing secret
  stack/keycloak/terraform/local-realm.tf
Labels: none

:rotating_light: Applied suggestions
  stack/docker-compose.yml
  stack/pgadmin/data/info.txt
Labels: none

:bug: Fix gitignore
  .gitignore
Labels: none

:wrench: Updated references to correct patternlab assets
  refarch-webcomponent/index.html
  refarch-webcomponent/src/refarch-hello-world-webcomponent.ce.vue
Labels: Template: Webcomponent

:wrench: Moved to file based routing
  .gitignore
  refarch-frontend/eslint.config.js
  refarch-frontend/src/App.vue
  refarch-frontend/src/constants.ts
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/routes/getstarted.vue
  refarch-frontend/src/routes/index.vue
  refarch-frontend/tsconfig.app.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

:arrow_up: Updated patternlab to fix build
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent

:bug: Fix gitignore order
  .gitignore
Labels: none

chore(stack/init-keycloak): document TODO
  stack/keycloak/terraform/entrypoint.sh
Labels: none

feat(backend): allow permissions cache max size configuration
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
Labels: Template: Backend

chore(backend): rm keycloak plugins from gitignore
  .gitignore
Labels: none

chore(backend): make naming consistent
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
Labels: Template: Backend

chore(backend): implement review
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
Labels: Template: Backend

chore(backend): format
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
Labels: Template: Backend

feat(backend): keycloak permissions authorities (#1158)
  .gitignore
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/AuthoritiesConverterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverter.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
  refarch-backend/src/test/resources/application-test.yml
  stack/docker-compose.yml
  stack/keycloak/migration/permissions/P01_init_permissions.yml
  stack/keycloak/plugins/authority-mapper-1.1.2-SNAPSHOT.jar
Labels: Template: Backend

:wrench: Disabled automatic update check
  stack/docker-compose.yml
Labels: none

:wrench: Updated rule disable only for route components
  refarch-frontend/.prettierignore
  refarch-frontend/eslint.config.js
Labels: Template: Frontend

:wrench: Moved to file based routing (#1393)
  .gitignore
  refarch-frontend/.prettierignore
  refarch-frontend/eslint.config.js
  refarch-frontend/src/App.vue
  refarch-frontend/src/constants.ts
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/src/routes/getstarted.vue
  refarch-frontend/src/routes/index.vue
  refarch-frontend/tsconfig.app.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

chore(stack): terraform keycloak entrypoint chmod +x
  stack/keycloak/terraform/entrypoint.sh
Labels: none

:wrench: Update local configuration to allow RMI/JMX connection for better debugging
  refarch-backend/src/main/resources/application-local.yml
  refarch-eai/src/main/resources/application-local.yml
Labels: Template: Backend, Template: EAI

:fire: Remove duplicate SBOM entry
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
Labels: Template: Backend

Bug: Fixed debugging capabilities via JMX/RMI (#1394)
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-eai/src/main/resources/application-local.yml
Labels: Template: Backend, Template: EAI

added lhm action
  .github/workflows/trivy.yml
Labels: none

changed naming
  .github/workflows/trivy.yml
Labels: none

updated spring and camel
  refarch-eai/pom.xml
Labels: Template: EAI

added dep for cve fix
  refarch-backend/pom.xml
Labels: Template: Backend

Introduced new snackbar-component
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/TheSnackbarQueue.vue
Labels: Template: Frontend

Changed the store to queue messages
  refarch-frontend/src/stores/snackbar.ts
Labels: Template: Frontend

:white_check_mark: updated example test tow work with new snackbar
  refarch-frontend/tests/unit/example.spec.ts
Labels: Template: Frontend

added closable button to the snackbar and changed timeout of error-toast to infinite
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbarQueue.vue
  refarch-frontend/src/stores/snackbar.ts
Labels: Template: Frontend

updated view to use new snackbar function
  refarch-frontend/src/routes/index.vue
Labels: Template: Frontend

Update Node.js version in GitHub Actions workflow
  .github/workflows/maven-node-build.yml
Labels: none

Update Node.js version for documentation build
  .github/workflows/deploy-docs.yml
Labels: none

:heavy_plus_sign: Added eslint/js as explicit dependency as removed from base package
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

removed unused constant
  refarch-frontend/src/constants.ts
Labels: Template: Frontend

changed to new type
  refarch-frontend/src/App.vue
  refarch-frontend/src/routes/index.vue
Labels: Template: Frontend

moved defaults to component and reduced to one type
  refarch-frontend/src/components/TheSnackbarQueue.vue
  refarch-frontend/src/stores/snackbar.ts
Labels: Template: Frontend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']
