Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']

:wrench: Explicitely set Java version for workflows
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

:truck: Updated localizations and route names (#1418)
  refarch-frontend/src/components/TheAppBar.vue
  refarch-frontend/src/components/TheNavigationDrawer.vue
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/routes/get-started.vue
  refarch-frontend/src/routes/index.vue
Labels: Template: Frontend

:wrench: Explicitely set Java version for workflows (#1430)
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

:arrow_up: Sync Spring version
  refarch-eai/pom.xml
Labels: Template: EAI

:construction: POC of bug
  refarch-frontend/encode-brackets-plugin.ts
  refarch-frontend/src/routes/index.vue
  refarch-frontend/src/routes/test/[id].vue
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

first try
  refarch-frontend/encode-brackets-plugin.ts
Labels: Template: Frontend

:beer: added plugin for loading dynamic path files and added vue-router extender to encode brackets
  refarch-frontend/encode-brackets-plugin.ts
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

test trivy
  .github/workflows/trivy.yml
Labels: none

Update pull_request_template.md
  .github/pull_request_template.md
Labels: none

Apply suggestion from @simonhir
  .github/pull_request_template.md
Labels: none

Update pull_request_template.md (#1443)
  .github/pull_request_template.md
Labels: none

:wrench: Re-enabled noUncheckedIndexedAccess as its no longer part of base config
  refarch-frontend/tsconfig.app.json
  refarch-webcomponent/tsconfig.app.json
Labels: Template: Frontend, Template: Webcomponent

moved rule stream to the top
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
Labels: Template: Backend

better naming for archunit tests
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
Labels: Template: Backend

removed empty line
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
Labels: Template: Backend

changed path to class
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
Labels: Template: Backend

spottless
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
Labels: Template: Backend

Update refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/nfcconverter/NfcConverterTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Template: Backend

Update refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/nfcconverter/NfcConverterTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Template: Backend

review feedback eingearbeitet
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
Labels: Template: Backend

spottless
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
Labels: Template: Backend

review eingearbeitet
  .github/workflows/trivy.yml
  refarch-backend/pom.xml
Labels: Template: Backend

added automatic run of pipelines
  .github/workflows/trivy.yml
Labels: none

added dependencie for cve fix
  refarch-backend/pom.xml
Labels: Template: Backend

added dependencie for cve fix
  refarch-eai/pom.xml
Labels: Template: EAI

added dependencie for cve fix
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

added sha fo trivy action
  .github/workflows/trivy.yml
Labels: none

Update refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
Labels: Template: Backend

Update refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
Labels: Template: Backend

Update .github/workflows/trivy.yml
  .github/workflows/trivy.yml
Labels: none

Added ArchUnit for better Consistency in Test-Classes (#1206)
  refarch-backend/pom.xml
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/CacheControlFilterTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/UnicodeFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/nfcconverter/NfcConverterTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/filter/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/configuration/security/KeycloakRolesAuthoritiesConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/ArchUnitTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/Rules.java
  refarch-backend/src/test/java/de/muenchen/refarch/archunit/rules/TestClassesEndWithTestCondition.java
Labels: Template: Backend

Apply suggestions from code review
  .github/workflows/trivy.yml
Labels: none

Feat/1054 feature testing trivy (#1093)
  .github/workflows/trivy.yml
  .trivyignore
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

Update Trivy action version to v1.0.25
  .github/workflows/trivy.yml
Labels: none

:wrench: Aligned with mde version
  refarch-webcomponent/index.html
  refarch-webcomponent/src/refarch-hello-world-webcomponent.ce.vue
Labels: Template: Webcomponent

:construction: Refactory custom plugin
  refarch-frontend/encode-brackets-plugin.ts
  refarch-frontend/tsconfig.node.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

:bug: Fixed problem with brackets in filename
  refarch-frontend/encode-brackets-plugin.ts
  refarch-frontend/src/routes/index.vue
  refarch-frontend/src/routes/test/[id].vue
Labels: Template: Frontend

:rotating_light: Made file loading async
  refarch-frontend/encode-brackets-plugin.ts
Labels: Template: Frontend

:coffin: Remove empty line
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

Bug/dynamic file routing through gateway (#1432)
  refarch-frontend/encode-brackets-plugin.ts
  refarch-frontend/tsconfig.node.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend
