Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']

:bug: Fix package structure
  refarch-backend/pom.xml
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/archunit/ArchUnitTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/archunit/rules/Rules.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/archunit/rules/TestClassesEndWithTestCondition.java
Labels: Template: Backend

:heavy_plus_sign: Added ArchUnit to EAI
  refarch-eai/pom.xml
  refarch-eai/src/main/java/de/muenchen/oss/refarch/eai/MicroServiceApplication.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/ArchUnitTest.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/rules/Rules.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/rules/TestClassesEndWithTestCondition.java
Labels: Template: EAI

:white_check_mark: Added ArchUnit tests to EAI
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/EaiTest.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/ArchUnitTest.java
Labels: Template: EAI

:bug: Fixed rules
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/archunit/rules/Rules.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/rules/Rules.java
Labels: Template: Backend, Template: EAI

Maintenance: Fix package structure and ArchUnit (#1457)
  refarch-backend/pom.xml
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/archunit/ArchUnitTest.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/archunit/rules/Rules.java
  refarch-backend/src/test/java/de/muenchen/oss/refarch/backend/archunit/rules/TestClassesEndWithTestCondition.java
  refarch-eai/pom.xml
  refarch-eai/src/main/java/de/muenchen/oss/refarch/eai/MicroServiceApplication.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/EaiTest.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/ArchUnitTest.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/rules/Rules.java
  refarch-eai/src/test/java/de/muenchen/oss/refarch/eai/archunit/rules/TestClassesEndWithTestCondition.java
Labels: Template: Backend, Template: EAI

:arrow_up: Aligned Spring Boot version to camel
  refarch-eai/pom.xml
Labels: Template: EAI

:truck: Renamed refarch-webcomponent to webcomponent
  webcomponent/.env.development
  webcomponent/.env.production
  webcomponent/.npmrc
  webcomponent/.prettierignore
  webcomponent/.prettierrc.json
  webcomponent/Dockerfile
  webcomponent/declarations.d.ts
  webcomponent/docker/nginx/compression.conf
  webcomponent/docker/nginx/files.conf
  webcomponent/docker/nginx/health.conf
  webcomponent/docker/nginx/sbom.conf
  webcomponent/env.d.ts
  webcomponent/eslint.config.js
  webcomponent/index.html
  webcomponent/package-lock.json
  webcomponent/package.json
  webcomponent/processes/lib/fileGenerator.js
  webcomponent/processes/lib/loader.js.template
  webcomponent/processes/post-build.js
  webcomponent/public/favicon.ico
  webcomponent/src/refarch-hello-world-webcomponent.ce.vue
  webcomponent/src/refarch-hello-world-webcomponent.ts
  webcomponent/src/util/constants.ts
  webcomponent/tests/unit/example.spec.ts
  webcomponent/tsconfig.app.json
  webcomponent/tsconfig.json
  webcomponent/tsconfig.node.json
  webcomponent/tsconfig.vitest.json
  webcomponent/vite.config.ts
  webcomponent/vitest.config.ts
Labels: none
