Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

:white_check_mark: adjusted test, to use i18n
  refarch-frontend/tests/unit/example.spec.ts
Labels: Template: Frontend

renamend function to push - complementary to the array function used inside
  refarch-frontend/src/App.vue
  refarch-frontend/src/routes/index.vue
  refarch-frontend/src/stores/snackbar.ts
Labels: Template: Frontend

used constant in component
  refarch-frontend/src/components/TheSnackbarQueue.vue
Labels: Template: Frontend

adjusted test
  refarch-frontend/tests/unit/example.spec.ts
Labels: Template: Frontend

using strict operator
  refarch-frontend/src/components/TheSnackbarQueue.vue
Labels: Template: Frontend

Use dynamic binding for numeric prop.
  refarch-frontend/src/components/TheSnackbarQueue.vue
Labels: Template: Frontend

Wrong property name in test.
  refarch-frontend/tests/unit/example.spec.ts
Labels: Template: Frontend

:arrow_up: Upgraded node dependencies to 24.x, adjusted node requirement to at least node 24.11
  docs/package.json
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

Update npm action configurations to use Node 24
  .github/workflows/deploy-docs.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/npm-release.yml
Labels: none

applied type
  refarch-frontend/src/routes/index.vue
Labels: Template: Frontend

removed functions
  refarch-frontend/src/stores/snackbar.ts
Labels: Template: Frontend

feat(stack): update roles scope via custom image
  stack/docker-compose.yml
  stack/keycloak/terraform/Dockerfile
  stack/keycloak/terraform/entrypoint.sh
  stack/keycloak/terraform/update_roles_scope.sh
Labels: none

chore(stack): gateway log structured instead of json
  stack/docker-compose.yml
Labels: none

feat(stack): update roles scope via custom image
  stack/keycloak/terraform/entrypoint.sh
Labels: none

:bug: Regenerated lockfile due to version conflicts
  docs/package-lock.json
  refarch-frontend/package-lock.json
  refarch-webcomponent/package-lock.json
Labels: Template: Frontend, Template: Webcomponent

:arrow_up: Updated eslint to latest patch version
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

chore(stack): update_roles_scope.sh chmod +x
  stack/keycloak/terraform/update_roles_scope.sh
Labels: none

:bug: Regenerated lockfile due to version incompatibilities
  docs/package-lock.json
  refarch-frontend/package-lock.json
  refarch-webcomponent/package-lock.json
Labels: Template: Frontend, Template: Webcomponent

:heavy_plus_sign: added pinia/testing for unit-testing of the pinia stores
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/api/refarch-backend/docs/ActuatorApi.md
  refarch-frontend/src/api/refarch-backend/docs/Link.md
  refarch-frontend/src/api/refarch-backend/docs/PageMetadata.md
  refarch-frontend/src/api/refarch-backend/docs/PagedModelTheEntityResponseDTO.md
  refarch-frontend/src/api/refarch-backend/docs/TheEntityControllerApi.md
  refarch-frontend/src/api/refarch-backend/docs/TheEntityRequestDTO.md
  refarch-frontend/src/api/refarch-backend/docs/TheEntityResponseDTO.md
  refarch-webcomponent/src/api/refarch-backend/docs/ActuatorApi.md
  refarch-webcomponent/src/api/refarch-backend/docs/Link.md
  refarch-webcomponent/src/api/refarch-backend/docs/PageMetadata.md
  refarch-webcomponent/src/api/refarch-backend/docs/PagedModelTheEntityResponseDTO.md
  refarch-webcomponent/src/api/refarch-backend/docs/TheEntityControllerApi.md
  refarch-webcomponent/src/api/refarch-backend/docs/TheEntityRequestDTO.md
  refarch-webcomponent/src/api/refarch-backend/docs/TheEntityResponseDTO.md
Labels: Template: Frontend, Template: Webcomponent

:recycle: Refactored App component into dedicated AppBar and NavigationDrawer component
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheAppBar.vue
  refarch-frontend/src/components/TheNavigationDrawer.vue
Labels: Template: Frontend

:white_check_mark: fixed test and used createTestingPinia
  refarch-frontend/tests/unit/example.spec.ts
Labels: Template: Frontend

:memo: added documentation to appplydefaults function
  refarch-frontend/src/stores/snackbar.ts
Labels: Template: Frontend

fixed import
  refarch-frontend/src/routes/index.vue
Labels: Template: Frontend

:beers: was not intentional
  refarch-frontend/src/api/refarch-backend/docs/ActuatorApi.md
  refarch-frontend/src/api/refarch-backend/docs/Link.md
  refarch-frontend/src/api/refarch-backend/docs/PageMetadata.md
  refarch-frontend/src/api/refarch-backend/docs/PagedModelTheEntityResponseDTO.md
  refarch-frontend/src/api/refarch-backend/docs/TheEntityControllerApi.md
  refarch-frontend/src/api/refarch-backend/docs/TheEntityRequestDTO.md
  refarch-frontend/src/api/refarch-backend/docs/TheEntityResponseDTO.md
Labels: Template: Frontend

:beers: was not intentional
  refarch-webcomponent/src/api/refarch-backend/docs/ActuatorApi.md
  refarch-webcomponent/src/api/refarch-backend/docs/Link.md
  refarch-webcomponent/src/api/refarch-backend/docs/PageMetadata.md
  refarch-webcomponent/src/api/refarch-backend/docs/PagedModelTheEntityResponseDTO.md
  refarch-webcomponent/src/api/refarch-backend/docs/TheEntityControllerApi.md
  refarch-webcomponent/src/api/refarch-backend/docs/TheEntityRequestDTO.md
  refarch-webcomponent/src/api/refarch-backend/docs/TheEntityResponseDTO.md
Labels: Template: Webcomponent

:bug: Moved render condition for avatar to button level
  refarch-frontend/src/components/TheAppBar.vue
Labels: Template: Frontend

:bug: Using v-model instead of one-way-binding to keep event listeners of drawer intact
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheNavigationDrawer.vue
Labels: Template: Frontend

:pushpin: pinned version
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
Labels: Template: Frontend

:pushpin: pinned version
  refarch-frontend/package-lock.json
Labels: Template: Frontend

:pushpin: pinned version
  refarch-frontend/package-lock.json
Labels: Template: Frontend

:pushpin: pinned version
  refarch-frontend/package-lock.json
Labels: Template: Frontend

:rotating_light: Fix lint
  refarch-frontend/src/components/TheNavigationDrawer.vue
Labels: Template: Frontend

:pushpin: pinned version
  refarch-frontend/package-lock.json
Labels: Template: Frontend

938 maintenance refactor snackbar component to use snackbarqueue (#1401)
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/TheSnackbarQueue.vue
  refarch-frontend/src/constants.ts
  refarch-frontend/src/routes/index.vue
  refarch-frontend/src/stores/snackbar.ts
  refarch-frontend/tests/unit/example.spec.ts
Labels: Template: Frontend

:recycle: Refactored to use new SnackbarQueue
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheAppBar.vue
  refarch-frontend/src/components/TheNavigationDrawer.vue
Labels: Template: Frontend

:recycle: Refactored App component into dedicated components (#1416)
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheAppBar.vue
  refarch-frontend/src/components/TheNavigationDrawer.vue
Labels: Template: Frontend

:truck: Updated localizations and route names
  refarch-frontend/src/components/TheAppBar.vue
  refarch-frontend/src/components/TheNavigationDrawer.vue
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/routes/documentation.vue
  refarch-frontend/src/routes/index.vue
Labels: Template: Frontend

chore(eai): cleanup
  refarch-eai/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: Template: EAI

Revert "chore(eai): cleanup"
  refarch-eai/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: Template: EAI

:truck: Renamed back to get started
  refarch-frontend/src/components/TheNavigationDrawer.vue
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/routes/get-started.vue
Labels: Template: Frontend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']
