Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']

fix(gateway): authorities overwriting each other
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
Labels: Template: Backend

fix(gateway): keycloak roles authorities check types
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/KeycloakRolesAuthoritiesConverter.java
Labels: Template: Backend

chore(gateway): spotless format
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/KeycloakRolesAuthoritiesConverter.java
Labels: Template: Backend

refact(gateway): config introduce subpackages
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/ForwardedHeaderFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcHelper.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcReader.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcServletInputStream.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/AuthoritiesConverterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/NoSecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverter.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/CacheControlFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverterTest.java
Labels: Template: Backend

refact(gateway): use lombok for default constructor
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverter.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverterTest.java
Labels: Template: Backend

chore(gateway): spotless format
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverterTest.java
Labels: Template: Backend

chore(gateway): implement review
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfigurationTest.java
  refarch-backend/src/test/resources/application-test.yml
Labels: Template: Backend

chore(gateway): implement review
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverter.java
Labels: Template: Backend

chore(gateway): cleanup deprecation annotations
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/AuthoritiesConverterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
Labels: Template: Backend

:sparkles: Use new logging features of spring 3.4
  refarch-backend/pom.xml
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
  refarch-backend/src/main/resources/logback-spring.xml
Labels: Template: Backend

:fire: Remove custom json logging tests
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
Labels: Template: Backend

:bug: Fix banner logging
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
  refarch-backend/src/main/resources/banner.txt
Labels: Template: Backend

:loud_sound: Added new metadata to logging
  refarch-eai/src/main/resources/application.yml
  refarch-eai/src/main/resources/banner.txt
Labels: Template: EAI

:bug: Fix banner logging in console
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

:wrench: Disabled structured logging for tests
  refarch-backend/src/test/resources/application-test.yml
Labels: Template: Backend

:green_heart: Fix build
  refarch-eai/src/main/resources/application.yml
Labels: Template: EAI

:wrench: Disable application group logging when local or testing
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
  refarch-backend/src/test/resources/application-test.yml
  refarch-eai/src/main/resources/application-local.yml
  refarch-eai/src/test/resources/application-test.yml
Labels: Template: Backend, Template: EAI

feat(backend): keycloak roles authorities (#1117)
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/JwtUserInfoAuthenticationConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/ForwardedHeaderFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcHelper.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcReader.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcServletInputStream.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/AuthoritiesConverterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/NoSecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverter.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverterTest.java
  refarch-backend/src/test/resources/application-test.yml
  stack/docker-compose.yml
Labels: Template: Backend

:rotating_light: Applied suggestions
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/test/resources/application-test.yml
  refarch-eai/src/main/resources/application-local.yml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI

:sparkles: Use new logging features of spring 3.4 (#1129)
  refarch-backend/pom.xml
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
  refarch-backend/src/main/resources/banner.txt
  refarch-backend/src/main/resources/logback-spring.xml
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
  refarch-backend/src/test/resources/application-test.yml
  refarch-eai/src/main/resources/application-local.yml
  refarch-eai/src/main/resources/application.yml
  refarch-eai/src/main/resources/banner.txt
  refarch-eai/src/test/resources/application-test.yml
Labels: Template: Backend, Template: EAI

:rotating_light: Align pom references to use quotes
  refarch-backend/src/main/resources/application.yml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI

:rotating_light: Align pom references to use quotes (#1137)
  refarch-backend/src/main/resources/application.yml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI

:recycle: Refactored CacheControlFilterConfiguration
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
Labels: Template: Backend

:recycle: Refactored ForwardedHeaderFilterConfiguration
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/ForwardedHeaderFilterConfiguration.java
Labels: Template: Backend

:recycle: Refactored RequestResponseLoggingFilter
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
Labels: Template: Backend

:recycle: Refactored UnicodeFilterConfiguration
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilterConfiguration.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Template: Backend

:rotating_light: Fixed lint
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
Labels: Template: Backend

:recycle: Removed custom lifecycle hooks
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilterConfiguration.java
Labels: Template: Backend

:rotating_light: Applied suggestions
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilterConfiguration.java
Labels: Template: Backend

:rotating_light: Applied suggestions
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilterConfiguration.java
Labels: Template: Backend

:recycle: Refactored custom filters to @Component @Filter
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Template: Backend

:wrench: remove async unsupported for NfcRequestFilter
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
Labels: Template: Backend

Maintenance: Leverage Spring Boot 3.5 features (#1139)
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/ForwardedHeaderFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Template: Backend

:arrow_up: Upgraded devtools for Vite 7 compatibility
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:arrow_up: Upgraded peer dependencies
  docs/package-lock.json
Labels: none

:arrow_up: Upgraded peer dependencies (#1150)
  docs/package-lock.json
Labels: none

feat(backend): init keycloak permissions authorities
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/AuthoritiesConverterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverter.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
  refarch-backend/src/test/resources/application-test.yml
Labels: Template: Backend

chore(stack): rm permissions plugin
  stack/docker-compose.yml
  stack/keycloak/plugins/authority-mapper-1.1.2-SNAPSHOT.jar
Labels: none

chore(backend): suppress pmd warning
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
Labels: Template: Backend

:arrow_up: Upgrade lockfile due to deep dep incompatibilities
  refarch-frontend/package-lock.json
  refarch-webcomponent/package-lock.json
Labels: Template: Frontend, Template: Webcomponent
