Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

Update nginx to ubi10 (#1063)
  refarch-frontend/Dockerfile
  refarch-webcomponent/Dockerfile
Labels: Template: Frontend, Template: Webcomponent

:pushpin: Downgraded Camel to 4.10.5, upgraded Spring to 3.4.6
  refarch-eai/pom.xml
Labels: Template: EAI

:pushpin: Downgraded Camel to 4.10.5, upgraded Spring to 3.4.6 (#1068)
  refarch-eai/pom.xml
Labels: Template: EAI

:construction: WIP switch to camel-starter-parent
  refarch-eai/pom.xml
Labels: Template: EAI

fix(backend,eai): spring properties metadata generation (#1065)
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

:wrench: kebab cased properties
  refarch-backend/src/test/resources/application-test.yml
Labels: Template: Backend

:arrow_up: Aligned Spring cloud version with Spring Boot 3.5
  refarch-backend/pom.xml
Labels: Template: Backend

:recycle: Refactored deprecated AntRequestMatcher to PathPatternRequestMatcher
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/NoSecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityProperties.java
Labels: Template: Backend

:pencil2: Fix typo
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
Labels: Template: Backend

reseted path back to original paths
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

removed automatic execution of plugin
  refarch-backend/pom.xml
Labels: Template: Backend

:bug: Fixed snackbar displaying correctly after trigger
  refarch-frontend/src/components/TheSnackbar.vue
Labels: Template: Frontend

:bug: Fix handling of error messages
  refarch-frontend/src/components/TheSnackbar.vue
Labels: Template: Frontend

:lock: added endpoints to security configuration
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
Labels: Template: Backend

reverted to default non management configuration
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

changed back to target folder, adjusted docsurl
  refarch-backend/pom.xml
Labels: Template: Backend

:see_no_evil: reverted back to head
  .gitignore
Labels: none

:truck: changed name
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIDocumentation.java
Labels: Template: Backend

:bug: Fixed snackbar displaying correctly after trigger (#1092)
  refarch-frontend/src/components/TheSnackbar.vue
Labels: Template: Frontend

trying image scanning
  .github/workflows/trivy.yml
Labels: none

changed names
  .github/workflows/trivy.yml
Labels: none

use old image as test
  .github/workflows/trivy.yml
Labels: none

all severties
  .github/workflows/trivy.yml
Labels: none

changed scan type to fs
  .github/workflows/trivy.yml
Labels: none

output changed to file
  .github/workflows/trivy.yml
Labels: none

upload artifact
  .github/workflows/trivy.yml
Labels: none

changed exit code
  .github/workflows/trivy.yml
Labels: none

changed from json to table
  .github/workflows/trivy.yml
Labels: none

Update trivy.yml
  .github/workflows/trivy.yml
Labels: none

:lock: updated merge
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
Labels: Template: Backend

updated spring version
  refarch-eai/pom.xml
Labels: Template: EAI

Updated Spring boot to 3.4.7 (#1101)
  refarch-eai/pom.xml
Labels: Template: EAI

:fire: Remove unnecessary suppressions
  refarch-backend/src/test/java/de/muenchen/refarch/TestConstants.java
  refarch-eai/src/test/java/de/muenchen/refarch/EaiTest.java
Labels: Template: Backend, Template: EAI

:wrench: Updated stack configuration for gateway 1.6.0
  stack/docker-compose.yml
Labels: none

revised comments
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
Labels: Template: Backend

chore(backend): cleanup security config
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/NoSecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
Labels: Template: Backend

chore(backend): cleanup filter configuration naming
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/ForwardedHeaderFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UnicodeFilterConfiguration.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/CacheControlFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/UnicodeFilterConfigurationTest.java
Labels: Template: Backend

:art: Fix format in backend due to new spotless features
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntity.java
Labels: Template: Backend

:wrench: Add new spotless features
  refarch-eai/pom.xml
Labels: Template: EAI

:bulb: moved comment
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']
