Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']

fix(CMS): clear admin denied redirect timeout on unmount
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

refactor(CMS): move admin dashboard styles to scoped classes
  refarch-frontend/src/views/admin/AdminDashboardView.vue
Labels: Template: Frontend

refactor(CMS): centralize admin styles in admin.css
  refarch-frontend/src/components/admin/AdminHeader.vue
  refarch-frontend/src/main.ts
  refarch-frontend/src/styles/admin.css
  refarch-frontend/src/views/admin/AdminDashboardView.vue
  refarch-frontend/src/views/admin/AdminSettingsView.vue
  refarch-frontend/src/views/admin/AdminThemeView.vue
Labels: Template: Frontend

fix(CMS): force admin header colors
  refarch-frontend/src/styles/admin.css
Labels: Template: Frontend

fix(CMS): add timeout to admin auth check
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend

fix(CMS): ensure admin header colors apply to Vuetify app bar
  refarch-frontend/src/styles/admin.css
Labels: Template: Frontend

fix(CMS): use absolute SSO userinfo path
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend

fix(ci): grant packages write permission in build workflow
  .github/workflows/maven-node-build.yml
Labels: none

Revert "fix(ci): grant packages write permission in build workflow"
  .github/workflows/maven-node-build.yml
Labels: none

feat(CMS): add local S3 setup with MinIO
  .gitignore
  refarch-backend/pom.xml
  refarch-backend/src/main/resources/application-local.yml
  stack/docker-compose.yml
Labels: Template: Backend

Update SCM connection URLs to use environment variables
  refarch-backend/pom.xml
Labels: Template: Backend

Update SCM URL to use environment variables
  refarch-backend/pom.xml
Labels: Template: Backend

Update SCM URLs to use GitHub environment variables
  refarch-eai/pom.xml
Labels: Template: EAI

Apply suggestions from code review
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

ci: use pr for maven and npm release and set permissions (#1361)
  .github/workflows/actionlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

:wrench: Enabling caching for prettier formatting
  refarch-frontend/package.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:bug: Add missing dependency
  docs/package-lock.json
  docs/package.json
Labels: none

:wrench: Enabled caching for ESLint execution
  refarch-frontend/package.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:wrench: Enabled caching for ESLint execution (#1381)
  refarch-frontend/package.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:bug: Fixed problem with pgpass file permission by copying
  stack/docker-compose.yml
Labels: none

:memo: Added small information for the data directory
  .gitignore
  stack/pgadmin/data/info.txt
Labels: none

:bug: Fix gitignore for stack
  .gitignore
Labels: none

:recycle: Make use of tmp local to not require root
  stack/docker-compose.yml
  stack/pgadmin/servers.json
Labels: none

:wrench: Added preferences configuration to pgadmin to correctly set backup popup
  stack/docker-compose.yml
  stack/pgadmin/preferences.json
Labels: none

:fire: Remove dark mode configuration
  stack/pgadmin/preferences.json
Labels: none

feat(stack): copy keycloak modules
  stack/keycloak/terraform/modules/keycloak-user/main.tf
  stack/keycloak/terraform/modules/keycloak-user/outputs.tf
  stack/keycloak/terraform/modules/keycloak-user/variables.tf
  stack/keycloak/terraform/modules/oidc-client/main.tf
  stack/keycloak/terraform/modules/oidc-client/outputs.tf
  stack/keycloak/terraform/modules/oidc-client/variables.tf
  stack/keycloak/terraform/modules/realm-scopes/ENVIRONMENT_OVERRIDES.md
  stack/keycloak/terraform/modules/realm-scopes/README.md
  stack/keycloak/terraform/modules/realm-scopes/main.tf
  stack/keycloak/terraform/modules/realm-scopes/variables.tf
Labels: none

chore(stack): cleanup modules
  stack/keycloak/terraform/modules/keycloak-user/main.tf
  stack/keycloak/terraform/modules/keycloak-user/outputs.tf
  stack/keycloak/terraform/modules/keycloak-user/variables.tf
  stack/keycloak/terraform/modules/oidc-client/main.tf
  stack/keycloak/terraform/modules/oidc-client/variables.tf
  stack/keycloak/terraform/modules/realm-scopes/main.tf
  stack/keycloak/terraform/modules/realm-scopes/variables.tf
Labels: none

chore(stack): copy modules
  stack/keycloak/terraform/keycloak.tf
Labels: none

feat(stack): terraform proxy conf
  stack/.env.example
  stack/docker-compose.yml
Labels: none

chore(stack): gitignore
  .gitignore
Labels: none

feat(stack): modules client support authorization
  stack/keycloak/terraform/modules/oidc-client/main.tf
  stack/keycloak/terraform/modules/oidc-client/outputs.tf
  stack/keycloak/terraform/modules/oidc-client/variables.tf
Labels: none

feat(stack): use terraform for keycloak init
  stack/docker-compose.yml
  stack/keycloak/migration/01_init-realm.yml
  stack/keycloak/migration/02_add-clients.yml
  stack/keycloak/migration/03_add-roles.yml
  stack/keycloak/migration/04_add-users.yml
  stack/keycloak/migration/05_assign-roles.yml
  stack/keycloak/migration/06_local-audience.yml
  stack/keycloak/migration/keycloak-changelog.yml
  stack/keycloak/migration/permissions/P01_init_permissions.yml
  stack/keycloak/migration/permissions/example_authorization.json
  stack/keycloak/terraform/entrypoint.sh
  stack/keycloak/terraform/keycloak.tf
Labels: none

fix(stack): local fix scopes
  stack/keycloak/terraform/local-realm.tf
Labels: none

refact(stack): extract provider
  stack/keycloak/terraform/keycloak.tf
  stack/keycloak/terraform/provider.tf
Labels: none

chore(stack/init-keycloak): lhm-demo english comments and simplify
  stack/keycloak/terraform/lhm-demo-simple.tf
Labels: none

docs(stack): add README and inline comments
  stack/README.md
  stack/keycloak/terraform/local-permissions.tf
  stack/keycloak/terraform/local-realm.tf
Labels: none

chore(stack): copy modules and lhm-demo
  stack/keycloak/terraform/lhm-demo-simple.tf
  stack/keycloak/terraform/modules/realm-scopes/main.tf
Labels: none

feat(stack): terraform keycloak permissions
  stack/keycloak/terraform/keycloak.tf
  stack/keycloak/terraform/permissions.tf
Labels: none

refact(stack): realm-scopes single realm_id input
  stack/keycloak/terraform/modules/realm-scopes/main.tf
  stack/keycloak/terraform/modules/realm-scopes/variables.tf
Labels: none

feat(stack): modules scopes rm provider and deprecated scopes
  stack/keycloak/terraform/modules/realm-scopes/main.tf
  stack/keycloak/terraform/modules/realm-scopes/variables.tf
Labels: none
