Repository it-at-m/refarch-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['refarch-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['refarch-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['refarch-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['refarch-webcomponent/**']

:wrench: Updated spotless configuration
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

:rotating_light: Fixed lint for backend
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UnicodeConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcReader.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityController.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityService.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/CacheControlConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/UnicodeConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityIntegrationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityMapperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityServiceTest.java
Labels: Template: Backend

:rotating_light: Fixed lint for EAI
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
Labels: Template: EAI

Maintenance: Added new spotless options (#946)
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UnicodeConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcReader.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityController.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityService.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/CacheControlConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/UnicodeConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityIntegrationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityMapperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityServiceTest.java
  refarch-eai/pom.xml
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
Labels: Template: Backend, Template: EAI

:arrow_up: Aligned spring boot version with Camel 4.11.0
  refarch-eai/pom.xml
Labels: Template: EAI

:wrench: Added actionlint workflow
  .github/problem-matcher.json
  .github/workflows/actionlint.yml
Labels: none

:wrench: Move to released centralized actionlint action
  .github/workflows/actionlint.yml
Labels: none

:bug: Changed npm token to secret instead of token
  .github/workflows/npm-release.yml
Labels: none

:wrench: Added actionlint workflow (#961)
  .github/problem-matcher.json
  .github/workflows/actionlint.yml
  .github/workflows/npm-release.yml
Labels: none

Use -1 to keep open indefinitely (0 in version < 2.3 )
  refarch-frontend/src/components/TheSnackbar.vue
Labels: Template: Frontend

fix: Snackbar timeout for error messages (#968)
  refarch-frontend/src/components/TheSnackbar.vue
Labels: Template: Frontend

:construction_worker: Added workflow to check docker stack
  .github/workflows/docker-compose-healthcheck.yml
Labels: none

:bug: Change path to compose file
  .github/workflows/docker-compose-healthcheck.yml
Labels: none

:construction: Changed to new action name
  .github/workflows/docker-compose-healthcheck.yml
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

:wrench: Added compose file path due to stack subfolder
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

:construction: Update to newest action version
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

:construction: Fix typo in path input
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

:construction: Decreased default retries
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

Update .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

:wrench: Moved to released action in 1.0.10
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

:construction_worker: Added workflow to check docker stack (#971)
  .github/workflows/dockercompose-healthcheck.yml
Labels: none

:arrow_up: Upgraded postgres to 17.4 (#913)
  refarch-backend/src/test/java/de/muenchen/refarch/TestConstants.java
  stack/docker-compose.yml
Labels: Template: Backend

:arrow_up: Upgraded Node requirement
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Frontend, Template: Webcomponent

:arrow_up: Upgraded Node requirement for docs
  docs/package-lock.json
  docs/package.json
Labels: none

:recycle: Added missing setters to nfcConverter cookie
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcHelper.java
Labels: Template: Backend

:wrench: Suppressed irrelevant security related warning
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcHelper.java
Labels: Template: Backend

:rotating_light: Fix formatting
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcHelper.java
Labels: Template: Backend

:wrench: Enabled vuetify autoimport
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/common/Ad2ImageAvatar.vue
  refarch-frontend/src/components/common/YesNoDialog.vue
  refarch-frontend/src/views/GetStartedView.vue
  refarch-frontend/src/views/HomeView.vue
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

:recycle: Simplified example component unit test
  refarch-frontend/tests/unit/example.spec.ts
Labels: Template: Frontend

removed comments that are not needed
  refarch-frontend/src/App.vue
  refarch-frontend/src/api/fetch-utils.ts
  refarch-frontend/src/components/common/YesNoDialog.vue
Labels: Template: Frontend

ci(build): use image dev tag
  .github/workflows/maven-node-build.yml
Labels: none

ci(maven-release): use image latest tag (same as npm)
  .github/workflows/maven-release.yml
Labels: none

ci(maven-release): rm slash from app-path
  .github/workflows/maven-release.yml
Labels: none

Feature: Enable vuetify auto imports (#994)
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/common/Ad2ImageAvatar.vue
  refarch-frontend/src/components/common/YesNoDialog.vue
  refarch-frontend/src/views/GetStartedView.vue
  refarch-frontend/src/views/HomeView.vue
  refarch-frontend/tests/unit/example.spec.ts
  refarch-frontend/vite.config.ts
Labels: Template: Frontend

ci: use lhm_actions 1.0.12
  .github/workflows/actionlint.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
  .github/workflows/pr-checklist.yml
  .github/workflows/pr-labeler.yml
Labels: none

ci(release): use app-path as release name prefix
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

ci(CODEOWNERS): workflows add refarch-maintainer
  .github/CODEOWNERS
Labels: none

ci: fix new line lint warnings
  .github/workflows/actionlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pr-checklist.yml
Labels: none

ci(CODEOWNERS): workflows add refarch-maintainer (#997)
  .github/CODEOWNERS
Labels: none

feat/ci-update-image-tag (#995)
  .github/workflows/actionlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
  .github/workflows/pr-checklist.yml
Labels: none
