Repository it-at-m/refarch-templates, pull requests merged in 2024-11, with the labels that each got.

#489 maint/98-change-id-type-to-uuid
  refarch-backend/src/main/java/de/muenchen/refarch/domain/BaseEntity.java
Labels: Template: Backend, Type: Maintenance

#490 :wrench: Migrated PMD configuration to use refarch-tools maven package
  refarch-backend/pom.xml
  refarch-eai/pom.xml
  shared-files/pmd-ruleset.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance

#492 :wrench: Migrated to renovate configuration in refarch-tools
  renovate.json5
Labels: Type: Maintenance

#494 Maint/233 maintenance optimize icon library bundle size
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/common/DatetimeInput.vue
  refarch-frontend/src/plugins/vuetify.ts
Labels: Template: Frontend, Type: Maintenance

#504 Maint/396 maintenance fix code scanning report issues
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/domain/BaseEntity.java
  refarch-backend/src/main/java/de/muenchen/refarch/security/RequestResponseLoggingFilter.java
Labels: Template: Backend, Type: Maintenance

#505 Update appswitcher-vue version to 2.0.4
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
Labels: Template: Frontend

#493 :truck: Moved module declarations to central place
  refarch-frontend/declarations.d.ts
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/types/itm-appswitcher-vue/itm-appswitcher-vue.d.ts
  refarch-frontend/tsconfig.app.json
  refarch-webcomponent/declarations.d.ts
  refarch-webcomponent/tsconfig.app.json
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#507 :sparkles: add noindex to webcomponent index.html
  refarch-webcomponent/index.html
Labels: Template: Webcomponent, Type: Feature

#509 :heavy_minus_sign: Removed @vue/language-server
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#510 :wrench: Remove custom allow list from dependency review
  .github/workflows/dependency_review.yaml
Labels: Type: Maintenance

#512 Maint/511 maintenance node 22 bump
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/tsconfig.node.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
  refarch-webcomponent/processes/post-build.js
  refarch-webcomponent/tsconfig.node.json
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#539 :coffin: Removed DatetimeInput component
  refarch-frontend/src/components/common/DatetimeInput.vue
Labels: Template: Frontend, Type: Maintenance

#560 Fix Appswitcher icon missing
  refarch-frontend/src/App.vue
Labels: Template: Frontend

#563 maint/544-maintenance-remove-target-folder-from-prettierignore
  refarch-frontend/.prettierignore
  refarch-webcomponent/.prettierignore
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#581 :wrench: Updated banner configuration
  refarch-backend/src/main/resources/banner.txt
  refarch-eai/src/main/resources/banner.txt
Labels: Template: Backend, Template: EAI, Type: Maintenance
