Repository it-at-m/refarch-templates, pull requests merged in 2024-10, with the labels that each got.

#385 Disable LogbackJsonLoggingConfigurationTest
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingConfigurationTest.java
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingConfigurationTest.java
Labels: Template: Backend, Template: EAI

#397 Bug/stack rm container name and restart policy
  stack/docker-compose.yml
Labels: Type: Bug

#404 Bumped Renovate to new Camel 4.8.x release (LTS)
  renovate.json5
Labels: Type: Maintenance

#408 :arrow_up: Moved to new appswitcher image on GitHub
  stack/docker-compose.yml
Labels: Type: Maintenance

#409 Bug/211 bug vue tsc throws error when importing patternlab components
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
  refarch-webcomponent/src/refarch-hello-world-webcomponent.ce.vue
Labels: Template: Webcomponent, Type: Bug

#420 Update codeql.yaml
  .github/workflows/codeql.yaml
Labels: Type: Bug

#424 Maint/35 eslint 9 migration
  refarch-frontend/.eslintignore
  refarch-frontend/.eslintrc.cjs
  refarch-frontend/eslint.config.js
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/App.vue
  refarch-frontend/src/api/ApiError.ts
  refarch-frontend/src/api/FetchUtils.ts
  refarch-frontend/src/api/HealthService.ts
  refarch-frontend/src/api/InfoService.ts
  refarch-frontend/src/api/UserService.ts
  refarch-frontend/src/api/ad2image-avatar-client.ts
  refarch-frontend/src/api/fetch-utils.ts
  refarch-frontend/src/api/health-client.ts
  refarch-frontend/src/api/info-client.ts
  refarch-frontend/src/api/user-client.ts
  refarch-frontend/src/components/common/Ad2ImageAvatar.vue
  refarch-frontend/src/components/common/YesNoDialog.vue
  refarch-frontend/src/stores/snackbar.ts
  refarch-frontend/src/views/HomeView.vue
  refarch-webcomponent/.eslintignore
  refarch-webcomponent/.eslintrc.cjs
  refarch-webcomponent/eslint.config.js
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#448 :bug: add missing spring-boot-maven-plugin for build
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Bug

#449 :bug: renovate fix prs not created
  renovate.json5
Labels: Type: Bug

#423 Make release
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcReader.java
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

#450 maint/75-move-value-from-snackbar-to-constants
  refarch-frontend/src/App.vue
  refarch-frontend/src/api/ad2image-avatar-client.ts
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/constants.ts
  refarch-frontend/src/plugins/router.ts
Labels: Template: Frontend, Type: Maintenance

#462 added useToggle()
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/App.vue
Labels: Template: Frontend, Type: Maintenance

#465 Bug/464 bug snackbar color cannot ne assigned to snackbar level
  refarch-frontend/src/api/ApiError.ts
  refarch-frontend/src/api/fetch-utils.ts
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/constants.ts
  refarch-frontend/src/stores/snackbar.ts
Labels: Template: Frontend, Type: Bug

#463 feat/149-maintenance-add-basic-cicd-pipeline
  .github/workflows/maven-node-build.yaml
Labels: Type: Feature, Type: Maintenance
