Repository it-at-m/refarch-templates, pull requests merged in 2024-08, with the labels that each got.

#144 Maint/140 maintenance work update version properties naming in maven based projects
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance

#141 :wrench: Updated renovate configuration
  renovate.json
  renovate.json5
Labels: Type: Maintenance

#146 :bug: Changed code of conduct links in issue templates to use ui view…
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-maintenance-work.yml
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
Labels: Type: Documentation

#154 :heavy_plus_sign: Added mapstruct with processor as dependencies
  refarch-backend/pom.xml
Labels: Template: Backend, Type: Maintenance

#157 :fire: Removed unused checkstyle configurations
  refarch-backend/checkstyle.xml
  refarch-eai/checkstyle.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance

#155 :truck: Move .gitattributes to work for whole repository
  .gitattributes
  refarch-frontend/.gitattributes
Labels: Template: Frontend, Type: Maintenance

#134 feat/10-create-docker-compose
  stack/docker-compose.yml
  stack/keycloak/migration/01_init-realm.yml
  stack/keycloak/migration/02_add-clients.yml
  stack/keycloak/migration/03_add-user.yml
  stack/keycloak/migration/keycloak-changelog.yml
Labels: Type: Feature

#159 feat/114-setup-vitepress
  docs/.gitignore
  docs/.npmrc
  docs/.vitepress/config.mts
  docs/api-examples.md
  docs/index.md
  docs/markdown-examples.md
  docs/package-lock.json
  docs/package.json
Labels: Type: Feature, Type: Documentation

#160 Maint/79 change import paths
  refarch-frontend/src/App.vue
  refarch-frontend/src/api/UserService.ts
  refarch-frontend/src/main.ts
  refarch-frontend/src/plugins/index.ts
Labels: Template: Frontend, Type: Maintenance

#162 :recycle: Moved logic out of SFC templates
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/common/DatetimeInput.vue
  refarch-frontend/src/components/common/LhmAvatar.vue
Labels: Template: Frontend, Type: Maintenance

#163 Maint/43 remove momentjs
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/composables/formatter.ts
  refarch-frontend/src/util/formatter.ts
Labels: Template: Frontend, Type: Maintenance

#164 Maint/refactor function
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/common/DatetimeInput.vue
Labels: Type: Maintenance

#165 :recycle: Moved router to plugins
  refarch-frontend/src/plugins/index.ts
  refarch-frontend/src/plugins/router.ts
Labels: Type: Maintenance

#166 :bug: Re-add package-lock.json
  refarch-frontend/package-lock.json
Labels: Template: Frontend, Type: Bug

#167 Feature/update pom parent
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Feature

#174 :wrench: Change glob pattern for labeler configuration
  .github/labeler.yml
Labels: Type: Bug

#151 feat/20-java-code-linting
  refarch-backend/pmd-ruleset.xml
  refarch-backend/pom.xml
Labels: Template: Backend, Type: Feature

#176 Feat/20 java code linting
  refarch-backend/pom.xml
  refarch-eai/pom.xml
  shared-files/pmd-ruleset.xml
Labels: Template: Backend, Template: EAI, Type: Feature

#178 :bug: Fixed PMD configuration
  refarch-backend/pom.xml
  refarch-eai/pom.xml
  shared-files/pmd-ruleset.xml
Labels: Template: Backend, Template: EAI, Type: Bug

#183 Bug/172 bug fix pmd errors eai
  refarch-eai/src/main/java/de/muenchen/refarch/Application.java
Labels: Template: EAI, Type: Bug

#193 :fire: Remove unused Dockerfile
  Dockerfile
Labels: Type: Maintenance

#194 :bug: Fixed surefire integration with jacoco
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Bug

#195 :art: Fix Spotless formatting
  refarch-backend/src/main/java/de/muenchen/refarch/security/AuthUtils.java
  refarch-backend/src/main/java/de/muenchen/refarch/security/AuthoritiesEnum.java
Labels: Template: Backend, Type: Maintenance

#198 Bug/181 bug tests failing due to h2 dependency
  refarch-backend/pom.xml
  refarch-backend/src/test/java/de/muenchen/refarch/TestConstants.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/CacheControlConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/UnicodeConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/rest/TheEntityRepositoryTest.java
  refarch-backend/src/test/resources/application-test.yml
Labels: Template: Backend, Type: Bug, Type: Dependency

#201 Bug/93 fix cors problem for local development
  refarch-frontend/.env.development
  refarch-frontend/.env.production
  refarch-frontend/src/Constants.ts
  refarch-frontend/src/api/HealthService.ts
  refarch-frontend/src/api/InfoService.ts
  refarch-frontend/src/api/UserService.ts
  refarch-frontend/src/env.d.ts
  refarch-frontend/vite.config.ts
  stack/docker-compose.yml
Labels: Template: Frontend, Type: Bug

#205 :bug: Fix env variable to make gateway startup normally again
  stack/docker-compose.yml
Labels: Type: Bug

#207 Feat/95 evaluate and enhance eai for cloudnative
  refarch-backend/src/main/resources/application.yml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI, Type: Feature

#208 Bug/173 bug fix spotbugs errors
  .github/workflows/dependency_review.yaml
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SpringRestConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UserInfoAuthoritiesService.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcRequest.java
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Bug

#244 Feat/171 feature add findsecbugs
  .github/workflows/dependency_review.yaml
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcRequest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/CacheControlConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/UnicodeConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/rest/TheEntityRepositoryTest.java
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Bug, Type: Feature

#215 :wrench: Added additional branch prefix
  renovate.json5
Labels: Type: Maintenance, Type: Dependency

#210 Feat/5 add webcomponent template
  refarch-webcomponent/.env.development
  refarch-webcomponent/.env.production
  refarch-webcomponent/.eslintignore
  refarch-webcomponent/.eslintrc.cjs
  refarch-webcomponent/.gitignore
  refarch-webcomponent/.prettierignore
  refarch-webcomponent/.prettierrc.json
  refarch-webcomponent/env.d.ts
  refarch-webcomponent/index.html
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
  refarch-webcomponent/processes/lib/fileGenerator.js
  refarch-webcomponent/processes/lib/loader.js.template
  refarch-webcomponent/processes/post-build.js
  refarch-webcomponent/public/favicon.ico
  refarch-webcomponent/src/refarch-hello-world-webcomponent.ce.vue
  refarch-webcomponent/src/refarch-hello-world-webcomponent.ts
  refarch-webcomponent/src/util/constants.ts
  refarch-webcomponent/tests/unit/example.spec.ts
  refarch-webcomponent/tsconfig.app.json
  refarch-webcomponent/tsconfig.json
  refarch-webcomponent/tsconfig.node.json
  refarch-webcomponent/vite.config.ts
  refarch-webcomponent/vitest.config.ts
Labels: Template: Webcomponent, Type: Feature

#260 :wrench: Added npmrc configuration file to webcomponent
  refarch-webcomponent/.npmrc
Labels: Template: Webcomponent, Type: Maintenance

#247 :wrench: Renovate disable update spring-boot-starter-parent in EAI
  refarch-eai/pom.xml
  renovate.json5
Labels: Template: EAI, Type: Maintenance

#263 :wrench: Updated npm engine configuration
  refarch-frontend/.npmrc
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/.npmrc
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#278 add more gitignore rules for Eclipse
  .gitignore
Labels: Type: Maintenance
