Repository it-at-m/refarch-templates, pull requests merged in 2024-09, with the labels that each got.

#259 Maint/70 translate class names and ids to english
  refarch-frontend/index.html
  refarch-frontend/src/App.vue
  refarch-frontend/src/Constants.ts
  refarch-frontend/src/api/Ad2ImageAvatarService.ts
  refarch-frontend/src/api/FetchUtils.ts
  refarch-frontend/src/api/HealthService.ts
  refarch-frontend/src/api/InfoService.ts
  refarch-frontend/src/api/UserService.ts
  refarch-frontend/src/api/error.ts
  refarch-frontend/src/components/common/Ad2ImageAvatar.vue
  refarch-frontend/src/components/common/DatetimeInput.vue
  refarch-frontend/src/components/common/YesNoDialog.vue
  refarch-frontend/src/composables/saveLeave.ts
  refarch-frontend/src/env.d.ts
  refarch-frontend/src/views/GetStartedView.vue
  refarch-frontend/src/views/HomeView.vue
  refarch-webcomponent/index.html
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#261 :memo: Changed comments and docs for backend to english
  refarch-backend/src/main/java/de/muenchen/refarch/MicroServiceApplication.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/JwtUserInfoAuthenticationConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UnicodeConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UserInfoAuthoritiesService.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcHelper.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcReader.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcRequest.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcServletInputStream.java
  refarch-backend/src/main/java/de/muenchen/refarch/security/AuthUtils.java
  refarch-backend/src/main/java/de/muenchen/refarch/security/RequestResponseLoggingFilter.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/nfcconverter/NfcConverterTest.java
Labels: Template: Backend, Type: Documentation

#283 Removed sync labels
  .github/workflows/pr_labeler.yaml
Labels: Type: Bug

#280 Maint/182 maintenance refactor main entrypoint class
  refarch-backend/src/main/java/de/muenchen/refarch/MicroServiceApplication.java
Labels: Template: Backend, Type: Maintenance

#277 Maint/276 maintenance vite 5 migration
  refarch-frontend/.eslintignore
  refarch-frontend/.eslintrc.cjs
  refarch-frontend/env.d.ts
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/plugins/router.ts
  refarch-frontend/tsconfig.app.json
  refarch-frontend/tsconfig.json
  refarch-frontend/tsconfig.node.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend, Type: Maintenance

#291 :wrench: Added custom CodeQL workflow
  .github/workflows/codeql.yaml
Labels: Type: Maintenance

#304 Update labeler.yml for use with issue template auto generated names
  .github/labeler.yml
Labels: Type: Maintenance

#279 Use ShortenedThrowableConverter in logback config
  .gitignore
  refarch-backend/src/main/resources/logback-spring.xml
  refarch-backend/src/test/java/de/muenchen/refarch/TestConstants.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingConfigurationTest.java
  refarch-eai/pom.xml
  refarch-eai/src/main/resources/logback-spring.xml
  refarch-eai/src/test/java/de/muenchen/refarch/EaiTest.java
  refarch-eai/src/test/java/de/muenchen/refarch/TestConstants.java
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingConfigurationTest.java
Labels: Template: Backend, Template: EAI, Type: Dependency

#307 Maint/255 maintenance renovatebot ignore some updates
  renovate.json5
  stack/docker-compose.yml
Labels: Type: Maintenance

#313 Fix renovate.json5
  renovate.json5
Labels: Type: Bug

#321 Maint/320 maintenance remove unnecessary dependencies
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#325 :wrench: refactored CodeQL workflow to run conditionally
  .github/workflows/codeql.yaml
Labels: Template: Frontend, Type: Maintenance

#326 Maint/287 maintenance migrate from unplugin vue cesub style to vue 35 features
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
  refarch-webcomponent/vite.config.ts
Labels: Template: Webcomponent, Type: Maintenance

#328 :bug: Added build-mode back to the configuration
  .github/workflows/codeql.yaml
Labels: Type: Bug

#308 add appswitcher-server to stack, configure appswitcher frontend component via .env
  refarch-frontend/.env
  refarch-frontend/.env.production
  refarch-frontend/env.d.ts
  refarch-frontend/src/App.vue
  refarch-frontend/src/Constants.ts
  refarch-frontend/src/api/InfoService.ts
  stack/appswitcher-server/application.yml
  stack/appswitcher-server/static/logos/Keycloak_Logo.png
  stack/appswitcher-server/static/logos/Logo_PostgreSQL.png
  stack/docker-compose.yml
Labels: Template: Frontend

#332 Maint/285 maintenance leverage new vue 35 features
  refarch-frontend/src/components/common/Ad2ImageAvatar.vue
  refarch-frontend/src/components/common/DatetimeInput.vue
  refarch-webcomponent/src/refarch-hello-world-webcomponent.ce.vue
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance

#324 :wrench: Added configuration for pgAdmin automatic db connection
  stack/docker-compose.yml
  stack/pgadmin/pgpass
  stack/pgadmin/servers.json
Labels: Type: Maintenance

#350 Renamed docker stack for refarch
  stack/docker-compose.yml
Labels: Type: Maintenance

#352 Moved to reusable CodeQL workflow
  .github/workflows/codeql.yaml
Labels: Type: Maintenance

#353 Updated CodeQL configuration
  .github/workflows/codeql.yaml
Labels: Type: Maintenance

#356 Maint/158 maintenance make composition api default and remove compilation for options api features
  refarch-frontend/src/components/common/Ad2ImageAvatar.vue
  refarch-frontend/src/components/common/DatetimeInput.vue
  refarch-frontend/vite.config.ts
  refarch-webcomponent/vite.config.ts
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance
