Repository it-at-m/refarch-templates, pull requests merged in 2024-12, with the labels that each got.

#622 :recycle: Providing fonts locally
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/main.ts
  refarch-frontend/tsconfig.app.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend, Type: Maintenance

#623 Maint/621 maintenance clean up applicationyml by removing properties which are set to default values
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntity.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
  refarch-eai/src/main/resources/application-local.yml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI, Type: Maintenance

#633 :recycle: backend cleanup local sso conf
  refarch-backend/src/main/resources/application-local.yml
Labels: Template: Backend, Type: Maintenance

#635 Maint/434 feature add frontend and webcomponent preview servers to gateway route configuration
  refarch-frontend/package.json
  refarch-frontend/vite.config.ts
  stack/docker-compose.yml
Labels: Template: Frontend, Type: Feature, Type: Maintenance

#626 Add Flyway for database schema management (#543)
  refarch-backend/pom.xml
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
  refarch-backend/src/main/resources/db/migration/schema/V001__TheEntity_schema.sql
  refarch-backend/src/main/resources/db/migration/testdata/R__Testdata.sql
Labels: Template: Backend, Type: Feature

#640 Maint/428 maintenance add linting of markdown files to vitepress documentation
  docs/.markdownlint.jsonc
  docs/.markdownlintignore
  docs/api-examples.md
  docs/markdown-examples.md
  docs/package-lock.json
  docs/package.json
Labels: Type: Maintenance, Type: Documentation

#656 Doc/655 documentation landing page
  docs/.markdownlint.jsonc
  docs/.prettierignore
  docs/.prettierrc
  docs/.vitepress/config.mts
  docs/.vitepress/theme/LhmThemeExtension.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/index.md
  docs/package-lock.json
  docs/package.json
Labels: Type: Documentation

#654 doc/652-documentation-create-getting-started
  docs/.markdownlint.jsonc
  docs/.vitepress/config.mts
  docs/develop.md
  docs/document.md
  docs/getting-started.md
  docs/organize.md
Labels: Type: Documentation
