Repository it-at-m/refarch-templates, pull requests merged in 2025-03, with the labels that each got.

#852 :memo: Added documentation on how to enable PR splitting by folders
  docs/.markdownlint.jsonc
  docs/develop.md
Labels: Type: Maintenance, Type: Documentation

#855 Updated documentation and JavaDoc, removed unnecessary configuration class
  docs/develop.md
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/NoSecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SpringRestConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UserInfoAuthoritiesService.java
Labels: Template: Backend, Type: Documentation

#865 :heavy_minus_sign: Removed redundant dependencies
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance

#863 Fix warning for json serialization when using pageable objects
  refarch-backend/pom.xml
  refarch-backend/src/main/resources/application.yml
  refarch-backend/src/test/java/de/muenchen/refarch/TestConstants.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/CacheControlConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/UnicodeConfigurationTest.java
Labels: Template: Backend, Type: Bug

#891 :recycle: Refactored PR labeler to centralized action
  .github/workflows/pr-labeler.yml
Labels: Type: Maintenance

#892 fix: SecurityProperties needed when running with no security profile
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/security/RequestResponseLoggingFilter.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend, Type: Bug, Type: Security

#887 :arrow_up: Upgraded to KeyCloak 26
  stack/docker-compose.yml
Labels: Type: Maintenance

#923 feat/add permission based auth support
  refarch-backend/src/main/java/de/muenchen/refarch/security/Authorities.java
  stack/docker-compose.yml
  stack/keycloak/migration/02_add-clients.yml
  stack/keycloak/migration/keycloak-changelog.yml
  stack/keycloak/migration/permissions/P01_init_permissions.yml
  stack/keycloak/migration/permissions/example_authorization.json
Labels: Template: Backend, Type: Feature

#925 bug/stack add missing permissions mapper plugin
  .gitignore
  stack/keycloak/plugins/authority-mapper-1.1.2-SNAPSHOT.jar
Labels: Type: Bug

#927 Maintenance: Move templates documentation to refarch repository
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/README.md
  .github/pull_request_template.md
  docs/.vitepress/config.mts
  docs/contribute.md
  docs/develop.md
  docs/document.md
  docs/example.md
  docs/getting-started.md
  docs/index.md
  docs/organize.md
  refarch-frontend/src/views/GetStartedView.vue
Labels: Template: Frontend, Type: Maintenance, Type: Documentation

#929 :rotating_light: Fix docs build
  docs/example.md
Labels: Type: Documentation
