Repository it-at-m/refarch-templates, pull requests merged in 2025-05, with the labels that each got.

#1016 fix(backend,eai): test mockito agent and OpenJFK share warnings
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

#1027 :sparkles: Added CycloneDX SBOM configuration
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/resources/application.yml
  refarch-eai/pom.xml
  refarch-eai/src/main/resources/application.yml
Labels: Template: Backend, Template: EAI, Type: Feature

#1028 Feature: Add SBOM generation to Node projects
  refarch-frontend/docker/nginx/sbom.conf
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/docker/nginx/sbom.conf
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Template: Frontend, Type: Feature

#1030 :bug: added permission to create labels
  .github/workflows/pr-labeler.yml
Labels: Type: Bug

#1031 :sparkles: Added missing deleteConfig to fetchUtils
  refarch-frontend/src/api/fetch-utils.ts
Labels: Template: Frontend, Type: Maintenance

#1034 :recycle: Aligned SBOM configuration and metadata order in pom.xml
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance
