Repository it-at-m/refarch-templates, pull requests merged in 2025-06, with the labels that each got.

#1053 remove docker kubernetes 4 podman compat
  refarch-backend/src/main/resources/application-local.yml
  stack/docker-compose.yml
Labels: Template: Backend, Type: Feature

#673 Feature: Add vue-i18n to centralize definition of text (#116)
  refarch-frontend/eslint.config.js
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/common/YesNoDialog.vue
  refarch-frontend/src/locales/de.json
  refarch-frontend/src/plugins/i18n.ts
  refarch-frontend/src/plugins/index.ts
  refarch-frontend/src/plugins/vuetify.ts
  refarch-frontend/src/views/GetStartedView.vue
  refarch-frontend/src/views/HomeView.vue
  refarch-frontend/tests/unit/example.spec.ts
  refarch-frontend/tsconfig.app.json
  refarch-frontend/vite.config.ts
Labels: Template: Frontend, Type: Feature, Priority: Low

#1068 :pushpin: Downgraded Camel to 4.10.5, upgraded Spring to 3.4.6
  refarch-eai/pom.xml
Labels: Template: EAI, Type: Maintenance

#1065 fix(backend,eai): spring properties metadata generation
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI

#1092 :bug: Fixed snackbar displaying correctly after trigger
  refarch-frontend/src/components/TheSnackbar.vue
Labels: Template: Frontend
