Repository it-at-m/refarch-templates, pull requests merged in 2025-04, with the labels that each got.

#945 Maintenance: Change spotless configuration
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance

#946 Maintenance: Added new spotless options
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/UnicodeConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/nfcconverter/NfcReader.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityController.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityService.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/CacheControlConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/UnicodeConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityIntegrationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityMapperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/theentity/TheEntityServiceTest.java
  refarch-eai/pom.xml
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
Labels: Template: Backend, Template: EAI, Type: Maintenance

#968 fix: Snackbar timeout for error messages
  refarch-frontend/src/components/TheSnackbar.vue
Labels: Template: Frontend

#971 :construction_worker: Added workflow to check docker stack
  .github/workflows/dockercompose-healthcheck.yml
Labels: Type: Maintenance

#994 Feature: Enable vuetify auto imports
  refarch-frontend/src/App.vue
  refarch-frontend/src/components/TheSnackbar.vue
  refarch-frontend/src/components/common/Ad2ImageAvatar.vue
  refarch-frontend/src/components/common/YesNoDialog.vue
  refarch-frontend/src/views/GetStartedView.vue
  refarch-frontend/src/views/HomeView.vue
  refarch-frontend/tests/unit/example.spec.ts
  refarch-frontend/vite.config.ts
Labels: Template: Frontend, Type: Feature

#1004 🔧 Updated deprecation detection
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/dto/TheEntityMapper.java
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance
