Repository it-at-m/refarch-templates, pull requests merged in 2025-01, with the labels that each got.

#683 Maint/682 maintenance pin supported node versions to lts version
  docs/getting-started.md
  refarch-frontend/package-lock.json
  refarch-frontend/package.json
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Template: Frontend, Type: Maintenance, Type: Documentation

#678 try to fix package-lock.json
  docs/package-lock.json
Labels: Type: Documentation

#688 :memo: Add documentation for "Document"
  docs/.vitepress/config.mts
  docs/document.md
Labels: Type: Documentation

#689 :bug: Fix inspection functionality not working for Vue devtools
  refarch-frontend/vite.config.ts
  refarch-frontend/vitest.config.ts
  refarch-webcomponent/vite.config.ts
  refarch-webcomponent/vitest.config.ts
Labels: Template: Webcomponent, Template: Frontend, Type: Bug

#690 Bug/636 bug x frame options cannot be disabled using spring mechanism
  refarch-frontend/vite.config.ts
Labels: Template: Frontend, Type: Bug

#681 :sparkles: backend, eai add maven release
  docs/getting-started.md
  refarch-backend/pom.xml
  refarch-eai/pom.xml
Labels: Template: Backend, Template: EAI, Type: Feature, Type: Documentation

#711 :memo: Added README content
  .github/README.md
  docs/document.md
Labels: Type: Documentation

#710 :arrow_up: Downgraded patternlab to fix dependency installation for webcomponent template
  refarch-webcomponent/package-lock.json
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Type: Bug

#720 Doc/687 documentation organize page
  docs/.vitepress/config.mts
  docs/organize.md
Labels: Type: Documentation

#733 Maint/723 maintenance make packagejson for docs folder valid through missing metadata
  docs/document.md
  docs/getting-started.md
  docs/organize.md
  docs/package-lock.json
  docs/package.json
Labels: Type: Maintenance, Type: Documentation

#722 Add linting of docs to GitHub workflow
  .github/workflows/deploy-docs.yml
  .github/workflows/maven-node-build.yaml
Labels: Type: Maintenance
