Repository it-at-m/refarch-templates, pull requests merged in 2025-02, with the labels that each got.

#802 Bug/777 bug maven build produces incompatible named jar
  refarch-backend/pom.xml
  refarch-eai/pom.xml
  refarch-eai/spotbugs-exclude-rules.xml
Labels: Template: Backend, Template: EAI, Type: Bug

#766 Doc/686 documentation develop page
  docs/.vitepress/config.mts
  docs/develop.md
  docs/document.md
  docs/getting-started.md
  docs/organize.md
  refarch-backend/pom.xml
Labels: Template: Backend, Type: Documentation

#804 Feat/18 pull request template
  .github/pull_request_template.md
  docs/organize.md
Labels: Type: Feature, Type: Documentation

#805 Added "Contribute" page to documentation
  .github/CODE_OF_CONDUCT.md
  .github/README.md
  docs/.vitepress/config.mts
  docs/contribute.md
  docs/develop.md
  docs/index.md
Labels: Type: Documentation

#806 Fixed JavaScript Linter errors not being checked in TypeScript files when running "npm lint"
  refarch-frontend/package.json
  refarch-frontend/src/plugins/vuetify.ts
  refarch-webcomponent/package.json
Labels: Template: Webcomponent, Template: Frontend, Type: Bug

#808 :memo: Improve Getting Started and Refresh Bug
  docs/develop.md
  docs/getting-started.md
Labels: Type: Documentation

#809 Documentation: Add note about why Spotbugs rules where excluded
  refarch-backend/spotbugs-exclude-rules.xml
  refarch-eai/spotbugs-exclude-rules.xml
Labels: Template: Backend, Template: EAI, Type: Documentation

#811 Fix CodeQL configuration not automatically picked up after project creation
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/pr-labeler.yml
  docs/organize.md
Labels: Type: Bug, Type: Documentation

#822 maint/545-maintenance-handling-spotbugs-internal-representation-ei_expose_rep into main
  refarch-backend/lombok.config
  refarch-backend/spotbugs-exclude-rules.xml
  refarch-eai/spotbugs-exclude-rules.xml
Labels: Template: Backend, Template: EAI, Type: Maintenance

#792 Maint/184 maintenance add keycloak roles and permissions to stack
  docs/develop.md
  refarch-backend/src/main/java/de/muenchen/refarch/security/AuthUtils.java
  refarch-backend/src/main/java/de/muenchen/refarch/security/Authorities.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityService.java
  refarch-backend/src/main/resources/application-local.yml
  stack/keycloak/migration/01_init-realm.yml
  stack/keycloak/migration/02_add-clients.yml
  stack/keycloak/migration/03_add-roles.yml
  stack/keycloak/migration/03_add-user.yml
  stack/keycloak/migration/04_add-users.yml
  stack/keycloak/migration/05_assign-roles.yml
  stack/keycloak/migration/06_local-audience.yml
  stack/keycloak/migration/keycloak-changelog.yml
Labels: Template: Backend, Type: Maintenance, Type: Documentation

#824 :construction_worker: Added PR checklist workflow
  .github/workflows/pr-checklist.yml
  docs/develop.md
  docs/organize.md
Labels: Type: Feature, Type: Documentation

#832 Disabled "Finishing touches" feature of CodeRabbit
  .coderabbit.yaml
  docs/develop.md
Labels: Type: Bug, Type: Documentation

#830 Enable JSON-based logging by default
  docs/getting-started.md
  refarch-backend/spotbugs-exclude-rules.xml
  refarch-backend/src/main/resources/logback-spring.xml
  refarch-backend/src/test/java/de/muenchen/refarch/TestConstants.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
  refarch-eai/spotbugs-exclude-rules.xml
  refarch-eai/src/main/resources/logback-spring.xml
  refarch-eai/src/test/java/de/muenchen/refarch/TestConstants.java
  refarch-eai/src/test/java/de/muenchen/refarch/configuration/LogbackJsonLoggingTest.java
Labels: Template: Backend, Template: EAI, Type: Maintenance, Type: Documentation

#834 :wrench: Update banner configuration to show active spring profiles
  refarch-backend/src/main/resources/banner.txt
  refarch-eai/src/main/resources/banner.txt
Labels: Template: Backend, Template: EAI, Type: Feature

#829 change internal links to useful external links
  refarch-frontend/src/views/GetStartedView.vue
Labels: Template: Frontend
