Repository it-at-m/refarch-templates, pull requests merged in 2025-07, with the labels that each got.

#1042 ✨ 86 openapi documentation
  refarch-backend/pom.xml
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIDocumentationConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/OpenAPIProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/theentity/TheEntityController.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/main/resources/application.yml
Labels: Template: Backend, Type: Feature, Priority: Medium

#1117 feat(backend): keycloak roles authorities
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/JwtUserInfoAuthenticationConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/ForwardedHeaderFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcHelper.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcReader.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcServletInputStream.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/AuthoritiesConverterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/NoSecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverter.java
  refarch-backend/src/main/resources/application-local.yml
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfigurationTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcHelperTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/KeycloakRolesAuthoritiesConverterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/security/UserInfoAuthoritiesConverterTest.java
  refarch-backend/src/test/resources/application-test.yml
  stack/docker-compose.yml
Labels: Template: Backend

#1139 Maintenance: Leverage Spring Boot 3.5 features
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/CacheControlFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/ForwardedHeaderFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/RequestResponseLoggingFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/UnicodeFilterConfiguration.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequest.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcRequestFilter.java
  refarch-backend/src/main/java/de/muenchen/refarch/configuration/security/SecurityProperties.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/CacheControlFilterTest.java
  refarch-backend/src/test/java/de/muenchen/refarch/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Template: Backend, Type: Maintenance

#1150 :arrow_up: Upgraded peer dependencies
  docs/package-lock.json
Labels: Type: Maintenance, Type: Documentation
